
.fourth {
  background-color: #fffaf5;
  padding-inline: 90px;
  overflow: hidden;
  padding-bottom: 40px;
  height: auto;
  flex-wrap: wrap;
}

.four {
  flex-wrap: wrap;
}

.four h1 {
  width: 534px;
  height: 48px;
  font-family: Public Sans;
  font-weight: 600;
  font-size: 40px;
}

.four p {
  font-family: Public Sans;
  font-weight: 400;
  font-size: 20px;
  color: #6d737a;
  margin-top: -1rem;
}

.version {
  color: #20b486;
}

.yellow {
  position: absolute;
  width: 168px;
  left: 22%;
  margin-top: -2rem;
  flex-wrap: wrap;
}

.expert {
  display: flex;
  gap: 10px;
  padding: 0px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.expert1 {
  margin: 0px;
  width: 200px;
  height: 200px;
}

.expert2 {
  margin-left: 15px;
}

.expert3 {
  width: 110px;
  height: 28px;
  font-weight: 400;
  font-size: 18px;
  font-family: Public Sans;
  color: #1b1d1f;
  margin-left: 15px;
}

.expert4 {
  width: 153px;
  height: 24px;
  font-weight: 400;
  font-size: 15px;
  font-family: Public Sans;
  color: #6d737a;
}

.experts {
  background: white;
  height: fit-content;
  border-radius: 8px;
  padding: 12px;
}


.navigation-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  margin-top: 20px;
}

.ellips {
  display: flex;
  gap: 12px;
  align-items: center;
}

.ellips1 {
  width: 8px;
  height: 8px;
  background-color: #20b486;
  border-radius: 50%;
}

.ellips2,
.ellips3,
.ellips4,
.ellips5 {
  width: 8px;
  height: 8px;
  background-color: #929293;
  border-radius: 50%;
}

.rights {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rights1 {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #363a3d;
}

.rights2 {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #20b486;
  background-color: #20b486;
  color: #363a3d;
}

@media (max-width: 1024px) {
  .fourth {
    padding-inline: 50px;
 
  }

  .expert {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  .yellow {
    position: absolute;
    width: 168px;
    left: 18%;
    margin-top: -2rem;
    flex-wrap: wrap;
  }  
  .four h1{
    width: fit-content;
    font-size: 35px;
  }
  .four p{
    width: fit-content;
    font-size: 18px;
  }
  .expert .expert1 {
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 768px) {
  .fourth {
    padding-inline: 30px;
    margin-left: 5rem;
    
    
  }

  .four h1 {
    font-size: 30px;
  }

  .four p {
    font-size: 16px;
  } 

  .expert {
    grid-template-columns: repeat(2, 2fr);
    gap: 28px;
    text-align: center; 
    
}
.yellow {
  position: absolute;
  width: 150px;
  left: 29%;
  margin-top: -2.1rem;
  flex-wrap: wrap;
} 
  }

  .expert .expert1 {
    width: 220px;
    height: 200px;
  }

  .navigation-controls {
    gap: 30px;
  }

@media (max-width: 426px) {
  .fourth {
    padding-inline: 20px;
    margin-left: 0px;
   
  }

  .four h1 {
    font-size: 18px;
   
    
  }

  .four p {
    font-size: 13px;
    margin-top:-1.7rem;
  }

  .yellow {
   display: none;
   
  }

  .expert {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .expert1 {
    width: 90%;
  }

  .navigation-controls {
    gap: 20px;
  }
}
